.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .base-info,
  .other-info {
    padding: 10px;
  }

  .base-info {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #fff;

    img {
      width: 150px;
    }
  }

  .other-info {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    padding: 10px 0;
    font-size: 64px;
  }

  h4 {
    letter-spacing: 1px;
  }
}
