<div class="info">
  <div class="temp-pressure">
    <span *ngIf="weatherParams.currentDay; else otherDay">
      <div>
        <h2>
          {{
            weatherParams.feelsLike && (weatherParams.feelsLike | temperature)
          }}º
        </h2>
        <h4 class="h7">Feel like</h4>
      </div>
      <div>
        <h2>{{ weatherParams.pressure }}</h2>
        <h4 class="h7">Pressure</h4>
      </div>
    </span>

    <ng-template #otherDay>
      <div>
        <h2>
          {{ weatherParams.maxTemp && (weatherParams.maxTemp | temperature) }}º
        </h2>
        <h4 class="h7">High</h4>
      </div>
      <div>
        <h2>
          {{ weatherParams.minTemp && (weatherParams.minTemp | temperature) }}º
        </h2>
        <h4 class="h7">Low</h4>
      </div>
    </ng-template>
  </div>

  <div class="speed-humidity">
    <div>
      <h2>{{ weatherParams.windSpeed | kilometers }}/kph</h2>
      <h4 class="h7">Wind speed</h4>
    </div>
    <div>
      <h2>{{ weatherParams.humidity }}%</h2>
      <h4 class="h7">Humidity</h4>
    </div>
  </div>

  <div class="sunrise-sunset">
    <div>
      <h2>
        {{ weatherParams.sunrise && (weatherParams.sunrise | time) }}
      </h2>
      <h4 class="h7">Sunrise</h4>
    </div>
    <div>
      <h2>
        {{ weatherParams.sunset && (weatherParams.sunset | time) }}
      </h2>
      <h4 class="h7">Sunset</h4>
    </div>
  </div>
</div>
